{% if vehicles %}
    <div id="vehicles">
        {% for vehicle in vehicles %}
            <div class="grid vehicle">
                <div class="column one-third image">
                    <a href="/vehicles/{{ vehicle.id }}" title="{{ vehicle.name }}">
                        <img src="{{ vehicle.images[0].getPath() }}" alt="{{ vehicle.name }}" />
                    </a>
                </div>
                <div class="column description">
                    <h2>
                        <a href="/vehicles/{{ vehicle.id }}" title="{{ vehicle.name }}">{{ vehicle.name }}</a>
                    </h2>
                    {{ vehicle.short_description|raw }}
                    <p class="price">{% if vehicle.price > 0 %}£{{ vehicle.price }}{% else %}Call for Cost{% endif %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% elseif vehicle %}
    <div id="vehicle">
        {{ vehicle.description|raw }}
        <div class="images">
            <div class="grid">
                {% for image in vehicle.images %}
                    <div class="column"><img src="{{ image.getPath() }}" alt="{{ vehicle.name }}" /></div>
                {% endfor %}
            </div>
        </div>
        <h4>{% if vehicle.price > 0 %}£{{ vehicle.price }}{% else %}Contact us for the price{% endif %}</h4>
    </div>
{% endif %}