{% if quote %}
<div id="quote">
    <p>
        {{ quote.vehicle }}<br />
        {{ quote.name }}<br />
        {{ quote.email }}<br />
        {{ quote.price }}<br />
        {{ quote.deposit }}<br />
        Deposit Paid: {% if quote.deposit_paid %}Yes{% else %}No{% endif %}</br />
    </p>
    <p>Details:
        {% for detail in details %}
            {% for feature in features %}
                {% if feature.id == detail %}
                    {{ feature.name }}<br />
                {% endif %}
            {% endfor %}
        {% endfor %}
    </p>
</div>
{% endif %}